Creating a Dataframe

In [27]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df1=df.reindex(['a','b','c','d','e','f','g','h'])                                                                  
print(df)

        one       two     three
a -0.441065  1.583862 -0.951895
c  0.091279  0.598208 -0.656088
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
h  0.751988  0.998081 -0.370195

In [28]:
print(df['one'].isnull)

<bound method Series.isnull of a   -0.441065
c    0.091279
e    1.168504
f   -0.693534
h    0.751988
Name: one, dtype: float64>

In [29]:
print(df1['one'].isnull())
print(df1['two'].isnull())
print(df1['three'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: two, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: three, dtype: bool

In [30]:
print(df1)
print("\n\nNaN is replaced with 0")
print(df1.fillna(0))

        one       two     three
a -0.441065  1.583862 -0.951895
b       NaN       NaN       NaN
c  0.091279  0.598208 -0.656088
d       NaN       NaN       NaN
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g       NaN       NaN       NaN
h  0.751988  0.998081 -0.370195


NaN is replaced with 0
        one       two     three
a -0.441065  1.583862 -0.951895
b  0.000000  0.000000  0.000000
c  0.091279  0.598208 -0.656088
d  0.000000  0.000000  0.000000
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g  0.000000  0.000000  0.000000
h  0.751988  0.998081 -0.370195

In [31]:
print("Before Filling")
print(df1)
print("\n\nAfter filling missing using pad/forward imputation techniques")
print(df1.fillna(method='pad'))

Before Filling
        one       two     three
a -0.441065  1.583862 -0.951895
b       NaN       NaN       NaN
c  0.091279  0.598208 -0.656088
d       NaN       NaN       NaN
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g       NaN       NaN       NaN
h  0.751988  0.998081 -0.370195


After filling missing using pad/forward imputation techniques
        one       two     three
a -0.441065  1.583862 -0.951895
b -0.441065  1.583862 -0.951895
c  0.091279  0.598208 -0.656088
d  0.091279  0.598208 -0.656088
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g -0.693534  0.105641  0.022422
h  0.751988  0.998081 -0.370195

In [32]:
print("Before Filling")
print(df1)
print("\n\nAfter filling missing using backward imputation techniques")
print(df1.fillna(method='bfill'))

Before Filling
        one       two     three
a -0.441065  1.583862 -0.951895
b       NaN       NaN       NaN
c  0.091279  0.598208 -0.656088
d       NaN       NaN       NaN
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g       NaN       NaN       NaN
h  0.751988  0.998081 -0.370195


After filling missing using backward imputation techniques
        one       two     three
a -0.441065  1.583862 -0.951895
b  0.091279  0.598208 -0.656088
c  0.091279  0.598208 -0.656088
d  1.168504  1.350918 -0.981014
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g  0.751988  0.998081 -0.370195
h  0.751988  0.998081 -0.370195

In [33]:
print("Before Dropping")
print(df1)
print("\n\nAfter dropping missing using backward imputation techniques")
print(df1.fillna(method='bfill'))

Before Dropping
        one       two     three
a -0.441065  1.583862 -0.951895
b       NaN       NaN       NaN
c  0.091279  0.598208 -0.656088
d       NaN       NaN       NaN
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g       NaN       NaN       NaN
h  0.751988  0.998081 -0.370195


After dropping missing using backward imputation techniques
        one       two     three
a -0.441065  1.583862 -0.951895
b  0.091279  0.598208 -0.656088
c  0.091279  0.598208 -0.656088
d  1.168504  1.350918 -0.981014
e  1.168504  1.350918 -0.981014
f -0.693534  0.105641  0.022422
g  0.751988  0.998081 -0.370195
h  0.751988  0.998081 -0.370195

In [34]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df1=df.reindex(['a','b','c','d','e','f','g','h'])
print(df1)
print("Drop Missing values using a Dropna function")
print(df1.dropna())

        one       two     three
a -0.342053 -0.061194  0.222533
c  1.273809  0.625180 -0.204809
e -1.196766 -1.211466 -0.378198
f -1.299117  0.992606 -0.370382
h -0.637017  1.101382 -0.004018
        one       two     three
a -0.342053 -0.061194  0.222533
b       NaN       NaN       NaN
c  1.273809  0.625180 -0.204809
d       NaN       NaN       NaN
e -1.196766 -1.211466 -0.378198
f -1.299117  0.992606 -0.370382
g       NaN       NaN       NaN
h -0.637017  1.101382 -0.004018
Drop Missing values using a Dropna function
        one       two     three
a -0.342053 -0.061194  0.222533
c  1.273809  0.625180 -0.204809
e -1.196766 -1.211466 -0.378198
f -1.299117  0.992606 -0.370382
h -0.637017  1.101382 -0.004018

In [35]:
df=pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print(df)
print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [36]:
df=pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [37]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [39]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB