Creating a Dataframe

In [26]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df1=df.reindex(['a','b','c','d','e','f','g','h'])                                                                  
print(df)

        one       two     three
a  0.368294 -0.347815 -0.475783
c -0.095318  0.590802  1.026722
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
h  0.048772  0.471580  0.177901

In [27]:
print(df['one'].isnull)

<bound method Series.isnull of a    0.368294
c   -0.095318
e   -0.697199
f   -1.107671
h    0.048772
Name: one, dtype: float64>

In [28]:
print(df1['one'].isnull())
print(df1['two'].isnull())
print(df1['three'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: two, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: three, dtype: bool

In [29]:
print(df1)
print("\n\nNaN is replaced with 0")
print(df1.fillna(0))

        one       two     three
a  0.368294 -0.347815 -0.475783
b       NaN       NaN       NaN
c -0.095318  0.590802  1.026722
d       NaN       NaN       NaN
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g       NaN       NaN       NaN
h  0.048772  0.471580  0.177901


NaN is replaced with 0
        one       two     three
a  0.368294 -0.347815 -0.475783
b  0.000000  0.000000  0.000000
c -0.095318  0.590802  1.026722
d  0.000000  0.000000  0.000000
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g  0.000000  0.000000  0.000000
h  0.048772  0.471580  0.177901

In [30]:
print("Before Filling")
print(df1)
print("\n\nAfter filling missing using pad/forward imputation techniques")
print(df1.fillna(method='pad'))

Before Filling
        one       two     three
a  0.368294 -0.347815 -0.475783
b       NaN       NaN       NaN
c -0.095318  0.590802  1.026722
d       NaN       NaN       NaN
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g       NaN       NaN       NaN
h  0.048772  0.471580  0.177901


After filling missing using pad/forward imputation techniques
        one       two     three
a  0.368294 -0.347815 -0.475783
b  0.368294 -0.347815 -0.475783
c -0.095318  0.590802  1.026722
d -0.095318  0.590802  1.026722
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g -1.107671  0.717278 -1.033439
h  0.048772  0.471580  0.177901

In [31]:
print("Before Filling")
print(df1)
print("\n\nAfter filling missing using backward imputation techniques")
print(df1.fillna(method='bfill'))

Before Filling
        one       two     three
a  0.368294 -0.347815 -0.475783
b       NaN       NaN       NaN
c -0.095318  0.590802  1.026722
d       NaN       NaN       NaN
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g       NaN       NaN       NaN
h  0.048772  0.471580  0.177901


After filling missing using backward imputation techniques
        one       two     three
a  0.368294 -0.347815 -0.475783
b -0.095318  0.590802  1.026722
c -0.095318  0.590802  1.026722
d -0.697199  1.215709  0.972456
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g  0.048772  0.471580  0.177901
h  0.048772  0.471580  0.177901

In [32]:
print("Before Dropping")
print(df1)
print("\n\nAfter dropping missing using backward imputation techniques")
print(df1.fillna(method='bfill'))

Before Dropping
        one       two     three
a  0.368294 -0.347815 -0.475783
b       NaN       NaN       NaN
c -0.095318  0.590802  1.026722
d       NaN       NaN       NaN
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g       NaN       NaN       NaN
h  0.048772  0.471580  0.177901


After dropping missing using backward imputation techniques
        one       two     three
a  0.368294 -0.347815 -0.475783
b -0.095318  0.590802  1.026722
c -0.095318  0.590802  1.026722
d -0.697199  1.215709  0.972456
e -0.697199  1.215709  0.972456
f -1.107671  0.717278 -1.033439
g  0.048772  0.471580  0.177901
h  0.048772  0.471580  0.177901

In [33]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df1=df.reindex(['a','b','c','d','e','f','g','h'])
print(df1)
print("Drop Missing values using a Dropna function")
print(df1.dropna())

        one       two     three
a -0.125245 -0.782856  0.460490
c -0.642572  0.932898 -0.883233
e  0.756877 -0.516924 -0.005876
f  0.376395 -0.012561 -0.697035
h  0.056944 -0.965754  0.147977
        one       two     three
a -0.125245 -0.782856  0.460490
b       NaN       NaN       NaN
c -0.642572  0.932898 -0.883233
d       NaN       NaN       NaN
e  0.756877 -0.516924 -0.005876
f  0.376395 -0.012561 -0.697035
g       NaN       NaN       NaN
h  0.056944 -0.965754  0.147977
Drop Missing values using a Dropna function
        one       two     three
a -0.125245 -0.782856  0.460490
c -0.642572  0.932898 -0.883233
e  0.756877 -0.516924 -0.005876
f  0.376395 -0.012561 -0.697035
h  0.056944 -0.965754  0.147977

In [34]:
df=pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print(df)
print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [35]:
df=pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [36]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [37]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [38]:
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [39]:
titanic_dummies=pd.concat(dummies,axis=1)
df=pd.concat((df,titanic_dummies),axis=1)

In [40]:
df=df.drop(['Pclass','Sex','Embarked'],axis=1)

In [41]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare      1      2      3  \
0              1         0  22.0      1      0   7.2500  False  False   True
1              2         1  38.0      1      0  71.2833   True  False  False
2              3         1  26.0      0      0   7.9250  False  False   True
3              4         1  35.0      1      0  53.1000   True  False  False
4              5         0  35.0      0      0   8.0500  False  False   True
..           ...       ...   ...    ...    ...      ...    ...    ...    ...
885          886         0  39.0      0      5  29.1250  False  False   True
886          887         0  27.0      0      0  13.0000  False   True  False
887          888         1  19.0      0      0  30.0000   True  False  False
889          890         1  26.0      0      0  30.0000   True  False  False
890          891         0  32.0      0      0   7.7500  False  False   True

     female   male      C      Q      S
0     False   True  False  False   True
1      True  False   True  False  False
2      True  False  False  False   True
3      True  False  False  False   True
4     False   True  False  False   True
..      ...    ...    ...    ...    ...
885    True  False  False   True  False
886   False   True  False  False   True
887    True  False  False  False   True
889   False   True   True  False  False
890   False   True  False   True  False

[712 rows x 14 columns]

In [42]:
print(df['Age'].isnull())

0      False
1      False
2      False
3      False
4      False
       ...
885    False
886    False
887    False
889    False
890    False
Name: Age, Length: 712, dtype: bool

In [43]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare      1      2      3  \
0              1         0  22.0      1      0   7.2500  False  False   True
1              2         1  38.0      1      0  71.2833   True  False  False
2              3         1  26.0      0      0   7.9250  False  False   True
3              4         1  35.0      1      0  53.1000   True  False  False
4              5         0  35.0      0      0   8.0500  False  False   True
..           ...       ...   ...    ...    ...      ...    ...    ...    ...
885          886         0  39.0      0      5  29.1250  False  False   True
886          887         0  27.0      0      0  13.0000  False   True  False
887          888         1  19.0      0      0  30.0000   True  False  False
889          890         1  26.0      0      0  30.0000   True  False  False
890          891         0  32.0      0      0   7.7500  False  False   True

     female   male      C      Q      S
0     False   True  False  False   True
1      True  False   True  False  False
2      True  False  False  False   True
3      True  False  False  False   True
4     False   True  False  False   True
..      ...    ...    ...    ...    ...
885    True  False  False   True  False
886   False   True  False  False   True
887    True  False  False  False   True
889   False   True   True  False  False
890   False   True  False   True  False

[712 rows x 14 columns]

In [45]:
from sklearn.preprocessing import MinMaxScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print(scaler.fit(data))
MinMaxScaler()
print(scaler.data_max_)
print(scaler.transform(data))

MinMaxScaler()
[ 1. 18.]
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [4]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
data=asarray(([100,0.001],[8,0.05],[50,0.005],[88,0.07],[4,0.1]))
print(data)
#define standard scaler
scaler=StandardScaler()
#transform data
scaled=scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]