What is Apriori Algorithm?

The Apriori Algorithm is the most common technique for performing market basket analysis. It is used for association rule mining, which is a rule-based process used to idenctify correlations between items purchased by the users

In [2]:
import pandas as pd
df=pd.read_csv('Groceries_dataset.csv')

In [3]:
df['single_transaction']= df['Member_number'].astype(str)+'_'+df['Date'].astype(str)
df.head()

   Member_number        Date   itemDescription single_transaction
0           1808  21-07-2015    tropical fruit    1808_21-07-2015
1           2552  05-01-2015        whole milk    2552_05-01-2015
2           2300  19-09-2015         pip fruit    2300_19-09-2015
3           1187  12-12-2015  other vegetables    1187_12-12-2015
4           3037  01-02-2015        whole milk    3037_01-02-2015

In [4]:
df2=pd.crosstab(df['single_transaction'],df['itemDescription'])
df2.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
single_transaction,,,,,,,,,,,,,,,,,,,,,
1000_15-03-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1000_24-06-2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1000_24-07-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_25-11-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_27-05-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
def encode(item_freq):
    res=0
    if item_freq>0:
        res=1
    return res

basket_input=df2.map(encode)
print(basket_input)

itemDescription     Instant food products  UHT-milk  abrasive cleaner  \
single_transaction
1000_15-03-2015                         0         0                 0
1000_24-06-2014                         0         0                 0
1000_24-07-2015                         0         0                 0
1000_25-11-2015                         0         0                 0
1000_27-05-2015                         0         0                 0
...                                   ...       ...               ...
4999_24-01-2015                         0         0                 0
4999_26-12-2015                         0         0                 0
5000_09-03-2014                         0         0                 0
5000_10-02-2015                         0         0                 0
5000_16-11-2014                         0         0                 0

itemDescription     artif. sweetener  baby cosmetics  bags  baking powder  \
single_transaction
1000_15-03-2015                    0               0     0              0
1000_24-06-2014                    0               0     0              0
1000_24-07-2015                    0               0     0              0
1000_25-11-2015                    0               0     0              0
1000_27-05-2015                    0               0     0              0
...                              ...             ...   ...            ...
4999_24-01-2015                    0               0     0              0
4999_26-12-2015                    0               0     0              0
5000_09-03-2014                    0               0     0              0
5000_10-02-2015                    0               0     0              0
5000_16-11-2014                    0               0     0              0

itemDescription     bathroom cleaner  beef  berries  ...  turkey  vinegar  \
single_transaction                                   ...
1000_15-03-2015                    0     0        0  ...       0        0
1000_24-06-2014                    0     0        0  ...       0        0
1000_24-07-2015                    0     0        0  ...       0        0
1000_25-11-2015                    0     0        0  ...       0        0
1000_27-05-2015                    0     0        0  ...       0        0
...                              ...   ...      ...  ...     ...      ...
4999_24-01-2015                    0     0        1  ...       0        0
4999_26-12-2015                    0     0        0  ...       0        0
5000_09-03-2014                    0     0        0  ...       0        0
5000_10-02-2015                    0     0        0  ...       0        0
5000_16-11-2014                    0     0        0  ...       0        0

itemDescription     waffles  whipped/sour cream  whisky  white bread  \
single_transaction
1000_15-03-2015           0                   0       0            0
1000_24-06-2014           0                   0       0            0
1000_24-07-2015           0                   0       0            0
1000_25-11-2015           0                   0       0            0
1000_27-05-2015           0                   0       0            0
...                     ...                 ...     ...          ...
4999_24-01-2015           0                   0       0            0
4999_26-12-2015           0                   0       0            0
5000_09-03-2014           0                   0       0            0
5000_10-02-2015           0                   0       0            0
5000_16-11-2014           0                   0       0            0

itemDescription     white wine  whole milk  yogurt  zwieback
single_transaction
1000_15-03-2015              0           1       1         0
1000_24-06-2014              0           1       0         0
1000_24-07-2015              0           0       0         0
1000_25-11-2015              0           0       0         0
1000_27-05-2015              0           0       0         0
...                        ...         ...     ...       ...
4999_24-01-2015              0           0       1         0
4999_26-12-2015              0           0       0         0
5000_09-03-2014              0           0       0         0
5000_10-02-2015              0           0       0         0
5000_16-11-2014              0           0       0         0

[14963 rows x 167 columns]

In [1]:
from mlxtend import apriori
from mlxtend.frequent_patterns import association_rules
frequent_itemsets=aprioriac(basket_input,min_support=0.001,use_colnames=True)
rules = association_rules(frequent_itemsets,metric="lift")
rules.head()

ImportError: cannot import name 'apriori' from 'mlxtend' (/home/codespace/.python/current/lib/python3.10/site-packages/mlxtend/__init__.py)

In [18]:
rules.sort_values(["support","confidence","lift"],axis=0,ascending=False).

SyntaxError: invalid syntax (1962579517.py, line 1)